# Hat: Directional pad
# Button1: A
# Button2: B
# Button3: X
# Button4: Y
# Button5: Left shoulder
# Button6: Right shoulder (NOTE: currently hardcoded to toggle the keyboard)
# Button7: Select
# Button8: Start

joy1hat = act_up, act_down, act_left, act_right
joy1button1 = act_a
joy1button2 = act_b
joy1button3 = act_x
joy1button4 = act_y
joy1button5 = act_lshoulder
joy1button7 = act_select
joy1button8 = act_start
