[Desktop Entry]
Name=MegaZeux (Runtime Only)
Exec=mzxrun
Icon=megazeux
Terminal=false
Type=Application
Categories=Game;
GenericName=Game Creation System
Comment=A simple, cross-platform game creation system. This executable does not load the game editor.
