.gitignore merge=union text
docs/changelog.txt merge=union text
docs/cycles_and_commands.txt text
docs/idle_direction_oddities.txt text
docs/macro.txt text
docs/port.txt text
docs/push_and_transport.txt text
docs/WIPHelp.txt text
unit/io/data/*.txt text eol=lf
config.txt text
