arch/3ds/*.d
arch/3ds/*.o
arch/3ds/*shbin*
arch/android/project/.eclipse
arch/android/project/.gradle
arch/android/project/.idea
arch/android/project/*.iml
arch/android/project/*.ipr
arch/android/project/app/.externalNativeBuild
arch/android/project/app/jni/.gradle
arch/android/project/app/jni/SDL2
arch/android/project/app/jni/lib
arch/android/project/app/jni/libogg
arch/android/project/app/jni/libvorbis
arch/android/project/app/release/app-release.apk
arch/android/project/app/src/main/res/raw/assets.zip
arch/android/project/app/*.iml
arch/android/project/build
arch/android/project/local.properties
arch/emscripten/web/mzxrun_web.js
arch/emscripten/web/node_modules
arch/emscripten/web/package-lock.json
arch/mingw/pefix.d
arch/mingw/pefix.exe
arch/mingw/pefix.o
arch/msvc/.vs
arch/msvc/*.user
arch/msvc/Deps/
arch/msvc/MegaZeux.opensdf
arch/msvc/MegaZeux.sdf
arch/msvc/MegaZeux.v12.suo
arch/msvc/obj
arch/msvc/version.h
arch/nds/mzxrun.arm7.elf
arch/nds/ndsScreens/
arch/nds/*.d
arch/nds/*.o
arch/psp/*.d
arch/psp/*.o
arch/wii/*.d
arch/wii/*.o
arch/xcode/version.h
build
contrib/gdm2s3m/src/.build/
contrib/icons/.build/
contrib/libmodplug/src/.build/
contrib/libxmp/src/.build/
contrib/libxmp/src/win32/.build/
contrib/libxmp/src/loaders/.build/
contrib/unzip/src/.build/
boot.dol
Core.exp
Core.ilk
Core.iobj
Core.ipdb
Core.lib
Core.pdb
core.dll
libcore.so
libcore.dylib
EBOOT.PBP
Editor.exp
Editor.ilk
Editor.iobj
Editor.ipdb
Editor.lib
Editor.map
Editor.pdb
editor.dll
ICON0.PNG
libeditor.so
libeditor.dylib
megazeux-cia.*
megazeux.dol
megazeux.elf
megazeux.exe
megazeux.exp
MegaZeux.ilk
MegaZeux.iobj
MegaZeux.ipdb
MegaZeux.lib
megazeux.nacp
megazeux.nro
megazeux.nso
MegaZeux.pdb
/megazeux
mzxrun.3dsx
mzxrun.cia
mzxrun.dol
mzxrun.elf
mzxrun.exe
mzxrun.exp
mzxrun.ilk
mzxrun.iobj
mzxrun.ipdb
mzxrun.js
mzxrun.js.orig.js
mzxrun.js.mem
mzxrun.lib
mzxrun.nacp
mzxrun.nds
mzxrun.nro
mzxrun.nso
mzxrun.pdb
mzxrun.smdh
mzxrun.wasm
mzxrun.wasm.map
/mzxrun
PARAM.SFO
platform.inc
SDL.dll
SDL2.dll
src/.build/
src/config.h
src/audio/.build/
src/editor/.build/
src/network/.build/
src/utils/.build/
src/utils/ccv.exe
src/utils/ccv
src/utils/checkres.exe
src/utils/checkres
src/utils/downver.exe
src/utils/downver
src/utils/hlp2html.exe
src/utils/hlp2html
src/utils/hlp2txt.exe
src/utils/hlp2txt
src/utils/txt2hlp.exe
src/utils/txt2hlp
src/utils/png2smzx.exe
src/utils/png2smzx
src/utils/*.debug
stdout.txt
stderr.txt
Thumbs.db
*.debug
*.mzx
*.sav
*.mzm
*~
.vscode
.DS_Store
xcuserdata/

# This MUST go after the *.mzx rule.
!testworlds/*/*.mzx
testworlds/*/backup*
testworlds/backup*
testworlds/log
testworlds/next
testworlds/test
testworlds/temp/*
!testworlds/temp/README.md
!testworlds/data/*
