arch/mingw/pefix.d
arch/mingw/pefix.exe
arch/mingw/pefix.o
arch/msvc/*.user
arch/msvc/Debug/
arch/msvc/Deps/
arch/msvc/MegaZeux.opensdf
arch/msvc/MegaZeux.sdf
arch/msvc/MegaZeux.v12.suo
build
contrib/gdm2s3m/src/.build/
contrib/icons/.build/
contrib/libmodplug/src/.build/
contrib/unzip/src/.build/
Core.exp
Core.lib
Core.pdb
core.dll
libcore.so
Editor.exp
Editor.ilk
Editor.lib
Editor.map
Editor.pdb
editor.dll
libeditor.so
MegaZeux.ilk
MegaZeux.pdb
megazeux.exe
megazeux
mzxrun.exe
mzxrun
platform.inc
SDL.dll
SDL2.dll
src/.build/
src/config.h
src/editor/.build/
src/network/.build/
src/utils/.build/
src/utils/checkres.exe
src/utils/checkres
src/utils/downver.exe
src/utils/downver
src/utils/hlp2txt.exe
src/utils/hlp2txt
src/utils/txt2hlp.exe
src/utils/txt2hlp
src/utils/png2smzx.exe
src/utils/png2smzx
stdout.txt
stderr.txt
*.mzx
*.sav
*.mzm
