arch/mingw/pefix.d
arch/mingw/pefix.exe
arch/mingw/pefix.o
build
contrib/gdm2s3m/src/.build/
contrib/icons/.build/
contrib/libmodplug/src/.build/
contrib/unzip/src/.build/
core.dll
libcore.so
editor.dll
libeditor.so
megazeux.exe
megazeux
mzxrun.exe
mzxrun
platform.inc
src/.build/
src/config.h
src/editor/.build/
src/network/.build/
src/utils/.build/
src/utils/checkres.exe
src/utils/checkres
src/utils/downver.exe
src/utils/downver
src/utils/hlp2txt.exe
src/utils/hlp2txt
src/utils/txt2hlp.exe
src/utils/txt2hlp
src/utils/png2smzx.exe
src/utils/png2smzx
stdout.txt
stderr.txt
