docs/changelog.txt -crlf
docs/cycles_and_commands.txt -crlf
docs/idle_direction_oddities.txt -crlf
docs/macro.txt -crlf
docs/port.txt -crlf
docs/push_and_transport.txt -crlf
docs/WIPHelp.txt -crlf
config.txt -crlf
