# Axis 1/2: Circle pad x/y
# Hat: Directional pad
# Button1: A
# Button2: B
# Button3: X
# Button4: Y
# Button5: Left trigger
# Button6: Right trigger (NOTE: currently hardcoded to toggle keyboard)
# Button7: Select
# Button8: Start
# Button9: ZL
# Button10: ZR

joy_axis_threshold = 16000

joy1hat = up, down, left, right
joy1axis1 = left, right
joy1axis2 = up, down
joy1button1 = shoot
joy1button2 = bomb
joy1button3 = x
joy1button4 = y
joy1button5 = switch
joy1button7 = escape
joy1button8 = menu
joy1button9 = save
joy1button10 = load
