# 1 Triangle
# 2 Circle
# 3 Cross
# 4 Square
# 5 Left shoulder
# 6 Right shoulder
# 7 Down
# 8 Left
# 9 Up
# 10 Right
# 11 Select
# 12 Start
# 13 Home
# 14 Hold

joy1axis1 = act_l_left, act_l_right
joy1axis2 = act_l_up, act_l_down
joy1.axis_lx = 1
joy1.axis_ly = 2

joy1button1 = act_x
joy1button2 = act_a
joy1button3 = act_b
joy1button4 = act_y
joy1button5 = act_lshoulder
joy1button6 = act_rshoulder
joy1button7 = act_down
joy1button8 = act_left
joy1button9 = act_up
joy1button10 = act_right
joy1button11 = act_select
joy1button12 = act_start
