# 1 Triangle
# 2 Circle
# 3 Cross
# 4 Square
# 5 Left trigger
# 6 Right trigger
# 7 Down
# 8 Left
# 9 Up
# 10 Right
# 11 Select
# 12 Start
# 13 Home
# 14 Hold

# Enter:   13
# Escape:  27
# Space:   32
# Delete:  127
# p:       112
# F3:      284
# F4:      285
# 0 - 9:   48 - 57
# Up:      273
# Down:    274
# Left:    276
# Right:   275

joy1axis1 = 276, 275
joy1axis2 = 273, 274

joy1button1 = 49
joy1button2 = 32
joy1button3 = 127
joy1button4 = 112
joy1button5 = 27
joy1button6 = 13
joy1button7 = 274
joy1button8 = 276
joy1button9 = 273
joy1button10 = 275
joy1button11 = 285
joy1button12 = 284
