# 1 Select
# 2 L3
# 3 R3
# 4 Start
# 5 Up
# 6 Right
# 7 Down
# 8 Left
# 9 L2
# 10 R2
# 11 L1
# 12 R1
# 13 Triangle
# 14 Circle
# 15 Cross
# 16 Square

joy[1,8]axis1 = act_l_left, act_l_right
joy[1,8]axis2 = act_l_up, act_l_down
joy[1,8]axis3 = act_r_left, act_r_right
joy[1,8]axis4 = act_r_up, act_r_down
joy[1,8].axis_lx = 1
joy[1,8].axis_ly = 2
joy[1,8].axis_rx = 3
joy[1,8].axis_ry = 4

joy[1,8]button1 = act_select
joy[1,8]button2 = act_lstick
joy[1,8]button3 = act_rstick
joy[1,8]button4 = act_start
joy[1,8]button5 = act_up
joy[1,8]button6 = act_right
joy[1,8]button7 = act_down
joy[1,8]button8 = act_left
joy[1,8]button9 = act_ltrigger
joy[1,8]button10 = act_rtrigger
joy[1,8]button11 = act_lshoulder
joy[1,8]button12 = act_rshoulder
joy[1,8]button13 = act_x
joy[1,8]button14 = act_a
joy[1,8]button15 = act_b
joy[1,8]button16 = act_y
