Source: megazeux
Section: games
Priority: extra
Maintainer: Alistair John Strachan <alistair@devzero.co.uk>
Build-Depends: debhelper (>= 5), libsdl1.2-dev, libvorbis-dev
Standards-Version: 3.7.2

Package: megazeux
Architecture: i386 amd64 source
Depends: libsdl1.2debian (>= 1.2.11), libogg0, libvorbisfile3
Description: A simple game creation system (GCS).
 MegaZeux is a Game Creation System (GCS), inspired by Epic MegaGames' ZZT.
 It was recently ported from 16bit MSDOS C/ASM to portable SDL C++, which has
 vastly improved its platform support and hardware compatibility.
 Many features have been added compared to the original DOS version.
 With the help of an intuitive editor and a simple but powerful object-oriented
 programming language, MegaZeux allows you to create your own ANSI-esque games
 regardless of genre. It is actively maintained by a thriving community.
 See http://digitalmzx.net/ for more information.

