#!/usr/bin/make -f

# uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include version.inc

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	./config.sh --platform unix --as-needed-hack \
	            --enable-release $(CONFIG_FLAGS)
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	$(MAKE)
	touch $@

test: test-stamp
test-stamp: build-stamp
	dh_testdir
	$(MAKE) test
	touch test-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	$(MAKE) distclean
	dh_clean 

install: test
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	$(MAKE) DESTDIR=$(CURDIR)/debian/megazeux install
	mkdir -p $(CURDIR)/debian/megazeux/usr/share/lintian/overrides
	cp debian/binary.lintian-overrides \
	  $(CURDIR)/debian/megazeux/usr/share/lintian/overrides/megazeux

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installman
	dh_strip --dbg-package=megazeux-dbg
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
