# Axis1:   -left +right
# Axis2:   -up   +down
#
# Button1: A
# Button2: B
# Button3: X
# Button4: Y
# Button5: Left trigger
# Button6: Right trigger
# Button7: Select
# Button8: Start

# FIXME- is any of this even accurate with SDL?

joy1button1 = 32
joy1button2 = 13
joy1button3 = 284
joy1button4 = 285
joy1button5 = 9
joy1button7 = 27
joy1button8 = 112
