# Axis1:   Left stick: -left +right
# Axis2:   Left stick: -up   +down
# Axis3:   -left +right (right stick)
# Axis4:   -up   +down
#
# Button1: A
# Button2: B
# Button3: X
# Button4: Y
# Button5: LStick
# Button6: RStick
# Button7: L
# Button8: R
# Button9: ZL
# Button10: ZR
# Button11: Plus
# Button12: Minus
# Button13: Dpad left
# Button14: Dpad up
# Button15: Dpad right
# Button16: Dpad down
# Button17: Left stick left
# Button18: Left stick up
# Button19: Left stick right
# Button20: Left stick down
# Button21: Right stick left
# Button22: Right stick up
# Button23: Right stick right
# Button24: Right stick down

# Because the Switch uses SDL2, MZX can generate mappings automatically with
# the SDL_GameController API. However, this API is based on XInput and has
# the face buttons inverted from where they'd be expected on a Nintendo system.

gamecontroller.a = act_b
gamecontroller.b = act_a
gamecontroller.x = act_y
gamecontroller.y = act_x
