### Wiimotes (1 to 4) ###

# The button mappings differ depending on the extension controller attached.
#
# Button      None  Nunchuk  Classic  Guitar Hero 3
# ---------------------------------------------------
# A           1     11       23       47
# B           2     12       24       48
# 1           3     13       25       49
# 2           4     14       26       50
# Left        5     15       27       51
# Right       6     16       28       52
# Up          7     17       29       53
# Down        8     18       30       54
# Minus       9     19       31       55
# Plus        10    20       32       56
#
# C           -     21       -        -
# Z           -     22       -        -
#
# a           -     -        33       -
# b           -     -        34       -
# x           -     -        35       -
# y           -     -        36       -
# L           -     -        37       -
# R           -     -        38       -
# ZL          -     -        39       -
# ZR          -     -        40       -
# Left        -     -        41       -
# Right       -     -        42       -
# Up          -     -        43       -
# Down        -     -        44       -
# Select      -     -        45       -
# Start       -     -        46       -
#
# Green       -     -        -        57
# Red         -     -        -        58
# Yellow      -     -        -        59
# Blue        -     -        -        60
# Orange      -     -        -        61
# Strum Up    -     -        -        62
# Strum Down  -     -        -        63
# Minus       -     -        -        64
# Plus        -     -        -        65
#
# The home buttons on the Wiimote and the Classic Controller are currently
# hardcoded to the "select" action.
#
# 1/2  Nunchuk
# 3/4  Classic L
# 5/6  Classic R
# 7/8  Classic left/right triggers (positive only)
# 9/10 Guitar stick
# 11   Guitar whammy bar (positive only)

# None
# This control scheme assumes the Wii remote is held horizontally by default.
# These assignments are fairly arbitrary and may change in future versions.
joy[1,4]button1  = act_rshoulder
joy[1,4]button2  = act_lshoulder
joy[1,4]button3  = act_b
joy[1,4]button4  = act_a
joy[1,4]button5  = act_down
joy[1,4]button6  = act_up
joy[1,4]button7  = act_left
joy[1,4]button8  = act_right
joy[1,4]button9  = act_y
joy[1,4]button10 = act_x

# Nunchuk
# This control scheme assumes the Wii remote is held vertically by default.
# These assignments are fairly arbitrary and may change in future versions.
joy[1,4]axis1 = act_l_left, act_l_right
joy[1,4]axis2 = act_l_up, act_l_down
joy[1,4]button11 = act_rshoulder
joy[1,4]button12 = act_rtrigger
joy[1,4]button13 = act_b
joy[1,4]button14 = act_a
joy[1,4]button15 = act_left
joy[1,4]button16 = act_right
joy[1,4]button17 = act_up
joy[1,4]button18 = act_down
joy[1,4]button19 = act_y
joy[1,4]button20 = act_x
joy[1,4]button21 = act_lshoulder
joy[1,4]button22 = act_ltrigger
joy[1,4].axis_lx = 1
joy[1,4].axis_ly = 2

# Classic
# This control scheme ignores the Wii remote inputs by default.
joy[1,4]axis3 = act_l_left, act_l_right
joy[1,4]axis4 = act_l_up, act_l_down
joy[1,4]axis5 = act_r_left, act_r_right
joy[1,4]axis6 = act_r_up, act_r_down
joy[1,4]button33 = act_a
joy[1,4]button34 = act_b
joy[1,4]button35 = act_x
joy[1,4]button36 = act_y
joy[1,4]button37 = act_ltrigger
joy[1,4]button38 = act_rtrigger
joy[1,4]button39 = act_lshoulder
joy[1,4]button40 = act_rshoulder
joy[1,4]button41 = act_left
joy[1,4]button42 = act_right
joy[1,4]button43 = act_up
joy[1,4]button44 = act_down
joy[1,4]button45 = act_select
joy[1,4]button46 = act_start
joy[1,4].axis_lx = 3
joy[1,4].axis_ly = 4
joy[1,4].axis_rx = 5
joy[1,4].axis_ry = 6
joy[1,4].axis_ltrigger = 7
joy[1,4].axis_rtrigger = 8

# Guitar Hero 3
# This control scheme ignores the Wii remote inputs by default.
# These assignments are fairly arbitrary and may change in future versions.
joy[1,4]axis9 = act_l_left, act_l_right
joy[1,4]axis10 = act_l_up, act_l_down
joy[1,4]axis11 = 0, act_rshoulder
joy[1,4]button57 = act_a
joy[1,4]button58 = act_b
joy[1,4]button59 = act_lshoulder
joy[1,4]button60 = act_x
joy[1,4]button61 = act_y
joy[1,4]button62 = act_ltrigger
joy[1,4]button63 = act_rtrigger
joy[1,4]button64 = act_select
joy[1,4]button65 = act_start
joy[1,4].axis_lx = 9
joy[1,4].axis_ly = 10

### GameCube controllers (5 to 8) ###

#  1 A
#  2 B
#  3 X
#  4 Y
#  5 L
#  6 R
#  7 Z
#  8 Left
#  9 Right
# 10 Up
# 11 Down
# 12 Start/Pause

# 1/2 Analog stick
# 3/4 C stick
# 5/6 Left/right triggers (positive only)

joy[5,8]axis1 = act_l_left, act_l_right
joy[5,8]axis2 = act_l_up, act_l_down
joy[5,8]axis3 = act_r_left, act_r_right
joy[5,8]axis4 = act_r_up, act_r_down
joy[5,8]button1 = act_a
joy[5,8]button2 = act_b
joy[5,8]button3 = act_x
joy[5,8]button4 = act_y
joy[5,8]button5 = act_ltrigger
joy[5,8]button6 = act_rtrigger
joy[5,8]button7 = act_lshoulder
joy[5,8]button8 = act_left
joy[5,8]button9 = act_right
joy[5,8]button10 = act_up
joy[5,8]button11 = act_down
joy[5,8]button12 = act_start
joy[5,8].axis_lx = 1
joy[5,8].axis_ly = 2
joy[5,8].axis_rx = 3
joy[5,8].axis_ry = 4
joy[5,8].axis_ltrigger = 5
joy[5,8].axis_rtrigger = 6
