### Wiimotes (1 to 4) ###

# The button mappings differ depending on the extension controller attached.
#
# Button      None  Nunchuk  Classic  Guitar Hero 3
# ---------------------------------------------------
# A           1     11       23       47
# B           2     12       24       48
# 1           3     13       25       49
# 2           4     14       26       50
# Left        5     15       27       51
# Right       6     16       28       52
# Up          7     17       29       53
# Down        8     18       30       54
# Minus       9     19       31       55
# Plus        10    20       32       56
#
# C           -     21       -        -
# Z           -     22       -        -
#
# a           -     -        33       -
# b           -     -        34       -
# x           -     -        35       -
# y           -     -        36       -
# L           -     -        37       -
# R           -     -        38       -
# ZL          -     -        39       -
# ZR          -     -        40       -
# Left        -     -        41       -
# Right       -     -        42       -
# Up          -     -        43       -
# Down        -     -        44       -
# Select      -     -        45       -
# Start       -     -        46       -
#
# Green       -     -        -        57
# Red         -     -        -        58
# Yellow      -     -        -        59
# Blue        -     -        -        60
# Orange      -     -        -        61
# Strum Up    -     -        -        62
# Strum Down  -     -        -        63
# Minus       -     -        -        64
# Plus        -     -        -        65
#
# The home buttons on the Wiimote and the Classic Controller are currently
# hardcoded to the "escape" action.
#
# 1/2 Nunchuk
# 3/4 Classic L
# 5/6 Classic R
# 7/8 Guitar stick
# 9   Guitar whammy bar (positive only)

# None
# This control scheme assumes the Wii remote is held horizontally by default.
joy1button1  = save
joy1button2  = load
joy1button3  = shoot
joy1button4  = bomb
joy1button5  = down
joy1button6  = up
joy1button7  = left
joy1button8  = right
joy1button9  = switch
joy1button10 = menu

# Nunchuk
# This control scheme assumes the Wii remote is held vertically by default.
joy1axis1 = left, right
joy1axis2 = up, down
joy1button11 = x
joy1button12 = shoot
joy1button13 = save
joy1button14 = load
joy1button15 = left
joy1button16 = right
joy1button17 = up
joy1button18 = down
joy1button19 = y
joy1button20 = menu
joy1button21 = switch
joy1button22 = bomb

# Classic
# This control scheme ignores the Wii remote inputs by default.
joy1axis3 = left, right
joy1axis4 = up, down
joy1axis5 = left, right
joy1axis6 = up, down
joy1button33 = shoot
joy1button34 = bomb
joy1button35 = x
joy1button36 = y
joy1button37 = save
joy1button38 = load
joy1button39 = switch
joy1button40 = settings
joy1button41 = left
joy1button42 = right
joy1button43 = up
joy1button44 = down
joy1button45 = escape
joy1button46 = menu

# Guitar Hero 3
# This control scheme ignores the Wii remote inputs by default.
joy1axis7 = left, right
joy1axis8 = up, down
joy1axis9 = 0, settings
joy1button57 = shoot
joy1button58 = bomb
joy1button59 = switch
joy1button60 = x
joy1button61 = y
joy1button62 = save
joy1button63 = load
joy1button64 = escape
joy1button65 = menu

### GameCube controllers (5 to 8) ###

#  1 A
#  2 B
#  3 X
#  4 Y
#  5 L
#  6 R
#  7 Z
#  8 Left
#  9 Right
# 10 Up
# 11 Down
# 12 Start/Pause

# 1/2 Analog stick
# 3/4 C stick

joy5axis1 = left, right
joy5axis2 = up, down
joy5axis3 = left, right
joy5axis4 = up, down
joy5button1 = shoot
joy5button2 = bomb
joy5button3 = x
joy5button4 = switch
joy5button5 = save
joy5button6 = load
joy5button7 = escape
joy5button8 = left
joy5button9 = right
joy5button10 = up
joy5button11 = down
joy5button12 = menu
