### Wii U controllers ###

# The Wii U SDL2 port tries to map all controllers to a common layout.
#
# There are no hats.

joy[1,4]axis1 = act_l_left, act_l_right
joy[1,4]axis2 = act_l_up, act_l_down
joy[1,4]axis3 = act_r_left, act_r_right
joy[1,4]axis4 = act_r_up, act_r_down

joy[1,4]button1 = act_a
joy[1,4]button2 = act_b
joy[1,4]button3 = act_x
joy[1,4]button4 = act_y
joy[1,4]button5 = act_lstick
joy[1,4]button6 = act_rstick
joy[1,4]button7 = act_lshoulder
joy[1,4]button8 = act_rshoulder
joy[1,4]button9 = act_ltrigger
joy[1,4]button10 = act_rtrigger
joy[1,4]button11 = act_start
joy[1,4]button12 = act_select
joy[1,4]button13 = act_left
joy[1,4]button14 = act_up
joy[1,4]button15 = act_right
joy[1,4]button16 = act_down

joy[1,4].axis_lx = 1
joy[1,4].axis_ly = 2
joy[1,4].axis_rx = 3
joy[1,4].axis_ry = 4
